- var itemID = productContent.uid
- var itemName = productContent.data.title != "" ? PrismicDOM.RichText.asText(productContent.data.title) : "Unknown"
- var itemImageURL = productContent.data.image.Snipcart.url
- var itemWeight = productContent.data.snipcartWeight
- var itemDescription = productContent.data.snipcartDescription
- var itemMaxQuantity = productContent.data.snipcartMaxQuantity
- var itemURL = pageUrl

a.button.add-to-cart.snipcart-add-item(href="#" data-item-id=itemID, data-item-name=itemName, data-item-price=price, data-item-image=itemImageURL, data-item-weight=itemWeight, data-item-url=itemURL, data-item-description=itemDescription, data-item-max-quantity=itemMaxQuantity, data-item-custom1-name="Size", data-item-custom1-options="2T|4T|6T|8T|Youth/Small|Youth/Medium|Youth/Large|Adult/Small|Adult/Medium|Adult/Large", data-item-custom1-value="Youth/Medium", data-item-custom1-required="true") Add To Cart
